<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="/stylesheets/dashboard.css">
  <link rel="shortcut icon" href="/images/kcclogo.jpeg" type="image/png+xml">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <div class="top-bar">
        <div class="containerbar">
            <span class="contact-info">
                <i class='bx bx-envelope'></i> info@newkcc.co.ke
            </span>
            <span class="contact-info">
                <i class='bx bx-phone' ></i> +254 110 936565 / +254 780 936557
            </span>
        </div>
    </div>
    <div class="container">
        <aside class="sidebar">
            <div class="sidebar-header">
                <img src="images/newkcc-logo.png" alt="KCC Portal Logo" style="width: 210px; height: auto;">
            </div>
            <nav>
                <ul>
                    <div class="top-content">
                        <li><a href="/dashboard"><i data-lucide="layout-dashboard"></i> Dashboard</a></li>
                        <li><a href="/products"><i data-lucide="shopping-bag"></i> Products</a></li>
                        <li><a href="/cart"><i data-lucide="shopping-cart"></i> Cart</a></li>
                        <li><a href="/orders"><i data-lucide="package"></i> Orders</a></li>
                    </div>
                    <div class="bottom-content">
                        <li><a href="/profile"><i data-lucide="user"></i> My Profile</a></li>
                        <li><a href="/" id="logout"><i data-lucide="log-out"></i> Log Out</a></li>
                    </div>
                </ul>
            </nav>
        </aside>
        <main>
            <header>
                <h1>Dashboard</h1>
                <div class="header-right">
                    <div class="search-bar">
                        <i data-lucide="search"></i>
                        <input type="text" placeholder="Search anything in KCC...">
                    </div>
                    <button class="icon-button"><i data-lucide="bell"></i></button>
                    <button class="icon-button"><i data-lucide="settings"></i></button>
                    <button class="browse-product-button">Browse products</button>
                </div>
            </header>
            <h1>Welcome back, User!</h1>
            <p class="subtitle">Here's an overview of your account</p>
            <div class="stats-grid">
                <div class="card">
                    <h3>Total Spendings</h3>
                    <p class="stat-value">KES 32,000</p>
                    <p class="stat-change negative">-24% from last month</p>
                </div>
                <div class="card">
                    <h3>Most Purchased Products</h3>
                    <p class="stat-value">80 units</p>
                    <p class="stat-change positive">KCC Gold Crown Fresh Milk 500ml</p>
                </div>
                <div class="card">
                    <h3>Favorite Products</h3>
                    <p class="stat-value">55 units</p>
                    <p class="stat-change positive">Delight Vanilla 150ml</p>
                </div>
            </div>
            <div class="card-container">
                <div class="card">
                    <h3>Purchase History</h3>
                    <ul class="transaction-list">
                        <li class="header">
                            <span class="product">Product</span>
                            <span class="name">Name</span>
                            <span class="transaction-id">Product ID</span>
                            <span class="status">Status</span>
                        </li>
                        <li>
                            <div class="product">
                                <img src="images/Delight Vanilla-TR 500ml.jpg" alt="Delight Vanilla 500ml">
                            </div>
                            <div class="name">
                                <p>Delight Vanilla 500ml</p>
                                <span class="category">Category: Yorghurt</span>
                            </div>
                            <span class="transaction-id">0JWEJS7ISNC</span>
                            <span class="status completed">Completed</span>
                        </li>
                        <li>
                        <div class="product">
                            <img src="images/Gold Crown.jpg" alt="Delight Vanilla 500ml">
                        </div>
                        <div class="name">
                            <p>KCC Gold Crown Fresh Milk 500ml</p>
                            <span class="category">Category: Milk</span>
                        </div>
                        <span class="transaction-id">0JSXFDT7ISNC</span>
                        <span class="status completed">Completed</span>
                    </li>
                    <li>
                        <div class="product">
                            <img src="images/K.C.C Salted Butter 500G Tub.jpeg" alt="Delight Vanilla 500ml">
                        </div>
                        <div class="name">
                            <p>KCC Butter Salted Butter 500g</p>
                            <span class="category">Category: Butter</span>
                        </div>
                        <span class="transaction-id">0JGFR5D6YNC</span>
                        <span class="status completed">Completed</span>
                    </li>
                    </ul>
                    <button class="view-more-button" onclick="window.location.href='./purchasehistory.html'">View More</button>
                </div>
                <div class="card">
                    <h3>Delivery Status</h3>
                    <ul class="transaction-list">
                        <li class="header">
                            <span class="product">Product</span>
                            <span class="name">Name</span>
                            <span class="transaction-id">Tracking Number</span>
                            <span class="status">Status</span>
                        </li>
                        <li>
                            <div class="product">
                                <img src="/images/Gold Crown.jpg" alt="Delight Vanilla 500ml">
                            </div>
                            <div class="name">
                                <p>KCC Gold Crown Fresh Milk 500ml</p>
                                <span class="category">Order #Z45YFGH</span>
                            </div>
                            <span class="transaction-id">KCCL-KE368243745397</span>
                            <span class="status completed">Delivered</span>
                        </li>
                        <li>
                            <div class="product">
                                <img src="/images/UHT Milk.jpg" alt="UHT Milk">
                            </div>
                            <div class="name">
                                <p>UHT Homogenised Milk 1L</p>
                                <span class="category">Order #A67BCDE</span>
                            </div>
                            <span class="transaction-id">KCCL-KE763452835492</span>
                            <span class="status pending">Dispatched</span>
                        </li>
                        <li>
                            <div class="product">
                                <img src="/images/Mala TR 500ml.jpg" alt="KCC Mala 500ml">
                            </div>
                            <div class="name">
                                <p>KCC Mala Plain Milk 500ml</p>
                                <span class="category">Order #PK7YFGH</span>
                            </div>
                            <span class="transaction-id">KCCL-KE368243745397</span>
                            <span class="status processing">Processing</span>
                        </li>
                    </ul>
                    <button class="view-more-button" onclick="window.location.href='./delivery.html'">View More</button>

                </div>
        </main>
    </div>
    <footer class="full-footer">
        <div class="footer-container">
            <div class="quick-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="./dashboard.html">Home</a></li>
                    <li><a href="./products.html">Products</a></li>
                    <li><a href="./cart.html">View Cart</a></li>
                    <li><a href="./orders.html">Manage Orders</a></li>
                </ul>
            </div>
    
            <div class="downloads">
                <h3>About KCC</h3>
                <ul>
                    <li><a href="https://www.newkcc.co.ke/who-we-are/">About us</a></li>
                    <li><a href="https://www.newkcc.co.ke/careers-2/">Careers</a></li>
                    <li><a href="https://www.newkcc.co.ke/blog/">Blog</a></li>
                    <li><a href="https://www.newkcc.co.ke/intent/">Intent</a></li>
                    <li><a href="https://www.newkcc.co.ke/wp-content/uploads/2023/01/QUALITY-POLICY-22.08.2022.pdf">Quality Policy</a></li>
                    <li><a href="https://www.newkcc.co.ke/wp-content/uploads/2024/03/Food-Safety-Policy.pdf">Food Safety Policy</a></li>
                </ul>
            </div>
    
            <div class="contact-us">
                <h3>Contact Us</h3>
                <p>Creamery House</p>
                <p>Dakar Rd, Industrial Area</p>
                <p>P.O. Box 30131 – 00100</p>
                <p>Tel: +254 20 3980 000/222</p>
                <p>Cell: 0722 203668 / 0736203668</p>
                <p><a href="mailto:info@newkcc.co.ke">Email: info@newkcc.co.ke</a></p>
                <p>WhatsApp: <a href="tel:+254110936565">+254 110 936565</a> / <a href="tel:+254780936557">+254 780 936557</a></p>
            </div>
    
            <div class="payment-methods">
                <h3>Payment Partners</h3>
                <div class="payment-icons">
                    <img src="/svg/visa.svg" alt="Visa" width="40" height="30">
                    <img src="/svg/mastercard.svg" alt="MPESA" width="40" height="30">
                    <img src="/images/M-PESA-logo-2.png" alt="Mastercard" width="40" height="30">
                </div>
            </div>
            <div class="footer-logo">
                <img src="/images/newkcc-logo.png" alt="KCC Logo" style="width: 150px; height: auto;">
            </div>
        </div>
    
        <div class="social-media">
            <div class="social-icons">
                <a href="https://api.whatsapp.com/send?phone=%2B254110936565&context=ARD0QaTWj_RY3CA8TRg-AL13nEaOFTKIgFYb9aqjJxXIMD5QPR1JE18ec0_FEYapTqNgAgecd-K8ZhMQD-Ekk4HMboJ6fPkoKUHvMSg7BQ_gBKqfZZbHrPiO4GvblEpiu-PKvl_AjBfuWJS4JHsxzc_tVA&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwY2xjawFvaQ9leHRuA2FlbQIxMAABHW7rTHDZziF4xlHUtoWBNcvMNU2wvnmXnccowQczp_hcmKnTIA_6IEKV6g_aem_2kAM0Aa2SKaBztAr0J3W_g" target="_blank"><img src="/images/whatsapp.png" alt="Whatsapp" width="30" height="30"></a>
                <a href="https://web.facebook.com/NewKCCOfficialPage/?_rdc=1&_rdr" target="_blank"><img src="/images/facebook.png" alt="Facebook" width="30" height="30"></a>
                <a href="https://youtube.com/@newkcckenya?si=BFZMeJyHLfngAWAe" target="_blank"><img src="/images/youtube.png" alt="Youtube" width="30" height="30"></a>
            </div>
        </div>
    </div>
        <div class="footer-copyright">
            <p>&copy; 2024 New KCC. All rights reserved.</p>
        </div>
    </footer>
    <script src="/javascripts/dashboard.js"></script>
</body>
</html>