<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>KCC Customer Portal</title>
  <link rel="stylesheet" href="/stylesheets/login.css">
</head>
<body>
  <div class="container">
    <div class="top-half"></div>
    <div class="bottom-half"></div>

    <div class="form-container">
      <h1 class="title">
        <img src="images/newkcc-logo.png" alt="KCC Logo" class="logo">
      </h1>
      <h1 class="title">Welcome to KCC Customer Portal</h1>
      <p class="subtitle">Please enter your details to sign in</p>
      
      <form id="customerForm" class="form">
        <div class="form-group">
          <label for="emailOrNumber">Email / Customer Number</label>
          <input type="text" id="emailOrNumber" placeholder="Enter Here" required>
          <p id="error-message" class="error-message"></p>
        </div>

        <div class="form-group">
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Enter your password" required>
          <p id="password-error-message" class="error-message"></p>
        </div>
        
        <button type="submit" id="submitBtn">Sign In</button>
<p class="signin-link">Not a member? <a href="/signup">Sign up</a></p>
      </form>
    </div>
  </div>
</body>
</html>
