<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Complete Sign Up</title>
  <link rel="stylesheet" href="/stylesheets/passwords.css">
</head>
<body>
  <div class="container">
    <div class="content">
      <div class="form-container">
        <form id="detailsForm" class="form">
          <h1 class="title">
            <img src="images/newkcc-logo.png" alt="KCC Logo" class="logo">
          </h1>
          <h1 class="title">Complete Sign Up</h1>
          <p class="subtitle">Please create your password</p>
          <div class="form-group">
            <label for="createPassword">Create Password</label>
            <input 
              type="password" 
              id="createPassword" 
              placeholder="Enter your password"
              required
            />
            <p id="password-error-message" class="error-message"></p>
          </div>
          <div class="form-group">
            <label for="reEnterPassword">Re-enter Password</label>
            <input 
              type="password" 
              id="reEnterPassword" 
              placeholder="Re-enter your password"
              required
            />
            <p id="reenter-error-message" class="error-message"></p>
          </div>

          <button type="submit" id="completeSignupBtn">Complete Sign Up</button>
        </form>
      </div>
      <div class="image-container">
        <img src="images/backgroundimage.jpg" alt="Background Image" class="right-image">
      </div>
    </div>
  </div>
  <script src="/javascripts/passwords.js"></script>
</body>
</html>
