<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <link rel="shortcut icon" href="/images/kcclogo.jpeg" type="image/png+xml">
    <link rel="stylesheet" href="/stylesheets/products.css">
    <script src="https://unpkg.com/lucide@latest"></script>
</head>
<body>
    <div class="dashboard">
        <aside class="sidebar">
            <div class="sidebar-header">
                <img src="/images/newkcc-logo.png" alt="KCC Portal Logo" style="width: 210px; height: auto;">
            </div>
            <nav>
                <ul>
                    <div class="top-content">
                    <li><a href="/dashboard"><i data-lucide="layout-dashboard"></i> Dashboard</a></li>
                    <li><a href="/products"><i data-lucide="shopping-bag"></i> Products</a></li>
                    <li><a href="/cart"><i data-lucide="shopping-cart"></i> Cart</a></li>
                    <li><a href="/orders"><i data-lucide="package"></i> Orders</a></li>

                    <div class="bottom-content">
                    <li><a href="/profile"><i data-lucide="user"></i> My Profile</a></li>
                    <li><a href="#" id="logout"><i data-lucide="log-out"></i> Log Out</a></li>
                    </div>
                </ul>  
            </nav>
        </aside>
        <main class="main-content">
            <header>
                <div class="header-left">
                    <h1>Products</h1>
                    <button id="sidebar-toggle" aria-label="Toggle Sidebar">
                        <i data-lucide="menu"></i>
                    </button>
                </div>
                <div class="header-search">
                    <input type="text" id="search-bar" placeholder="Search...">
                    <button id="search-button" aria-label="Search">
                        <i data-lucide="search"></i>
                    </button>
                </div>
                <div class="img-case">
                    <a href="/profile"><img src="/images/profile.png" alt=""></a>
                </div>
            </header>
            <div class="content">
                <div class="product-grid">
                    <div class="product-card">
                        <div class="position-absolute badge-container">
                            <span class="badge bg-success">-15%</span>
                        </div>
                        <img src="/images/UHT Milk.jpg" alt="Product 1">
                        <p>UHT Homogenised Milk 1L<p>
                            <p>
                                <span class="original-price">KES 80.00</span>
                                <span class="discounted-price"><strong>KES 68.00</strong></span>
                            </p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Mala TR 500ml.jpg" alt="Product 2">
                        <p>KCC Mala Plain Milk 500ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Mala 1lt.jpg" alt="Product 3">
                        <p>KCC Mala Plain Milk 1L</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Mala Sleeved Bootle 250Ml.jpg" alt="Product 4">
                        <p>KCC Mala Plain Milk 250ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Delight Strawberry-250ml.jpg" alt="Product 4">
                        <p>Delight Strawberry 250ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Delight Vanilla-150ml.jpg" alt="Product 4">
                        <p>Delight Vanilla 150ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <div class="position-absolute badge-container">
                            <span class="badge bg-success">Sale</span>
                        </div>
                        <img src="/images/Delight Vanilla-TR 500ml.jpg" alt="Product 4">
                        <p>Delight Vanilla 500ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Delight Coconut-500ml.jpg" alt="Product 4">
                        <p>Delight Coconut 500ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Gold Crown.jpg" alt="Product 4">
                        <p>KCC Gold Crown Fresh Milk 500ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Gold Crown Pouch.jpg" alt="Product 4">
                        <p>KCC Gold Crown Fresh Milk Pouch 500ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/KCC 200ml.jpg" alt="Product 4">
                        <p>KCC Gold Crown Fresh Milk 200ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/KCC Fresh Milk.jpg" alt="Product 4">
                        <p>KCC Fresh Milk Pouch 200ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/KCC Fresh Milk 500ml.jpg" alt="Product 4">
                        <p>KCC Fresh Milk 500ml</p>
                        <p><strong>KES 68.00</strong></p> <p>$49.99</p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/K.C.C Gold Crown Fat Free 500Ml.jpeg" alt="Product 4">
                        <p>KCC Gold Crown Fat Free 500ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/K.C.C Gold Crown Lactose Free 500Ml.jpeg" alt="Product 4">
                        <p>KCC Gold Crown Lactose Free 500ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Safariland Powder.jpg" alt="Product 4">
                        <p>KCC Safariland Powder</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/K.C.C Rindless Cheddar Cheese 150Gm.jpg" alt="Product 4">
                        <p>KCC Rindless Cheddar Cheese 150Gm</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/K.C.C Cheddar Cheese 250Gm.jpg" alt="Product 4">
                        <p>KCC Rindless Cheddar Cheese 250Gm</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/K.C.C Rindless Cheddar Cheese 500Gm.jpg" alt="Product 4">
                        <p>KCC Rindless Cheddar Cheese 500Gm</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/K.C.C Salted Butter 500G Tub.jpeg" alt="Product 4">
                        <p>KCC Butter Salted Butter 500g</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/K.C.C Salted Butter 500G.jpeg" alt="Product 4">
                        <p>KCC Salted Butter 500Gms</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/K.C.C Unsalted Butter 500G.jpeg" alt="Product 4">
                        <p>KCC Unsalted Butter 500g</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/KCC Super Fine Ghee.png" alt="Product 4">
                        <p>KCC Superfine Ghee</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Natural Yorghurt.png" alt="Product 4">
                        <p>KCC Natural Yorghurt 500ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Natural Yorghurt 500ml.png" alt="Product 4">
                        <p>KCC Natural Yorghurt 500ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Natural Yorghurt 250ml.png" alt="Product 4">
                        <p>KCC Natural Yorghurt 250ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/Natural Yorghurt 100ml.png" alt="Product 4">
                        <p>KCC Natural Yorghurt 100ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/La Yoghurt Strawberry-250ml.jpg" alt="Product 4">
                        <p>La Yorghurt Strawberry 250ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/La Yoghurt Coconut-250ml.jpg" alt="Product 4">
                        <p>La Yorghurt Coconut 250ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/La Yoghurt Pineapple-250ml.jpg" alt="Product 4">
                        <p>La Yorghurt Pineapple 250ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                    <div class="product-card">
                        <img src="/images/La Yoghurt Vanilla-250ml.jpg" alt="Product 4">
                        <p>La Yorghurt Vanilla 250ml</p>
                        <p><strong>KES 68.00</strong></p>
                        <button>Add to Cart</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <footer class="full-footer">
        <div class="footer-container">
            <div class="quick-links">
                <h3>Quick Links</h3>
                <ul>
                    <li><a href="/dashboard">Home</a></li>
                    <li><a href="/products">Products</a></li>
                    <li><a href="/cart">View Cart</a></li>
                    <li><a href="/orders">Manage Orders</a></li>
                    <li><a href="/careers">Careers</a></li>
                    <li><a href="/blog">Blog</a></li>
                    <li><a href="/intent">Intent</a></li>
                </ul>
            </div>
    
            <div class="downloads">
                <h3>About KCC</h3>
                <ul>
                    <li><a href="https://www.newkcc.co.ke/who-we-are/">About us</a></li>
                    <li><a href="https://www.newkcc.co.ke/careers-2/">Careers</a></li>
                    <li><a href="https://www.newkcc.co.ke/blog/">Blog</a></li>
                    <li><a href="https://www.newkcc.co.ke/intent/">Intent</a></li>
                    <li><a href="https://www.newkcc.co.ke/wp-content/uploads/2023/01/QUALITY-POLICY-22.08.2022.pdf">Quality Policy</a></li>
                    <li><a href="https://www.newkcc.co.ke/wp-content/uploads/2024/03/Food-Safety-Policy.pdf">Food Safety Policy</a></li>
                </ul>
            </div>
    
            <div class="contact-us">
                <h3>Contact Us</h3>
                <p>Creamery House</p>
                <p>Dakar Rd, Industrial Area</p>
                <p>P.O. Box 30131 – 00100</p>
                <p>Tel: +254 20 3980 000/222</p>
                <p>Cell: 0722 203668 / 0736203668</p>
                <p><a href="mailto:info@newkcc.co.ke">Email: info@newkcc.co.ke</a></p>
                <p>WhatsApp: <a href="tel:+254110936565">+254 110 936565</a> / <a href="tel:+254780936557">+254 780 936557</a></p>
            </div>
    
            <div class="payment-methods">
                <h3>Payment Methods</h3>
                <div class="payment-icons">
                    <img src="/svg/visa.svg" alt="Visa" width="40" height="30">
                    <img src="/svg/mastercard.svg" alt="MPESA" width="40" height="30">
                    <img src="/images/M-PESA-logo-2.png" alt="Mastercard" width="40" height="30">
                </div>
            </div>
            <div class="footer-logo">
                <img src="/images/newkcc-logo.png" alt="KCC Logo" style="width: 150px; height: auto;">
            </div>
        </div>
    
        <div class="social-media">
            <div class="social-icons">
                <a href="https://api.whatsapp.com/send?phone=%2B254110936565&context=ARD0QaTWj_RY3CA8TRg-AL13nEaOFTKIgFYb9aqjJxXIMD5QPR1JE18ec0_FEYapTqNgAgecd-K8ZhMQD-Ekk4HMboJ6fPkoKUHvMSg7BQ_gBKqfZZbHrPiO4GvblEpiu-PKvl_AjBfuWJS4JHsxzc_tVA&source=FB_Page&app=facebook&entry_point=page_cta&fbclid=IwY2xjawFvaQ9leHRuA2FlbQIxMAABHW7rTHDZziF4xlHUtoWBNcvMNU2wvnmXnccowQczp_hcmKnTIA_6IEKV6g_aem_2kAM0Aa2SKaBztAr0J3W_g" target="_blank"><img src="/images/whatsapp.png" alt="Whatsapp" width="30" height="30"></a>
                <a href="https://web.facebook.com/NewKCCOfficialPage/?_rdc=1&_rdr" target="_blank"><img src="/images/facebook.png" alt="Facebook" width="30" height="30"></a>
                <a href="https://youtube.com/@newkcckenya?si=BFZMeJyHLfngAWAe" target="_blank"><img src="/images/youtube.png" alt="Youtube" width="30" height="30"></a>
            </div>
        </div>
    </div>
        <div class="footer-copyright">
            <p>&copy; 2024 New KCC. All rights reserved.</p>
        </div>
    </footer>
    <script src="/javascripts/products.js"></script>
</body>
</html>