:root {
    --primary-color: #fc00ac;
    --secondary-color: #fc00ac;
    --background-color: #f5f5f5;
    --text-color: #333;
    --card-background: #fff;
}

body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: var(--background-color);
    color: var(--text-color);
}

.top-bar {
    background-color: #000000;
    color: #ffffff;
    padding: 10px 0;
    font-size: 14px;
}

.top-bar .containerbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 210px;
    background-color: #fc00ac;
    color: #ecf0f1;
    padding: 1rem;
    position: relative;
    height: auto;
    transition: transform 0.3s ease-in-out;
}

.sidebar-header {
    padding: 1rem 0;
    border-bottom: 1px solid #ffffff;
    margin-bottom: 1rem;
}

.sidebar h2 {
    font-size: 1.5rem;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    margin-bottom: 0.5rem;
}

.sidebar a {
    color: #ecf0f1;
    text-decoration: none;
    display: flex;
    align-items: center;
    padding: 0.5rem;
    border-radius: 4px;
    transition: background-color 0.2s;
}

.sidebar a:hover, .sidebar li.active a {
    background-color: #000000;
}

.sidebar i {
    margin-right: 0.5rem;
}

.sidebar h2 {
    font-size: 0.8rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar li:hover {
    background-color: rgba(255, 255, 255, 0.1);
}

.sidebar li.active {
    background-color: rgba(255, 255, 255, 0.2);
}

.sidebar li i {
    margin-right: 0.5rem;
}

.top-content {
    padding-bottom: 20px;
    border-bottom: 1px solid #ffffff;
}

.top-content a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

.top-content a:hover {
    background-color: #000000;
    color: #fff;
}

.bottom-content {
    margin-top: auto;
    padding-top: 50px;
    
    border-top: 1px solid #ec0000eb;
}

.bottom-content a {
    display: block;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
}

.bottom-content a:hover {
    background-color: #000000;
    color: #fff;
}

.user-profile {
    display: flex;
    align-items: center;
    margin-top: auto;
    padding-top: 1rem;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.avatar {
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin-right: 0.75rem;
}

.user-name {
    font-weight: bold;
    margin: 0;
}

.user-email {
    font-size: 0.8rem;
    margin: 0;
    color: rgba(255, 255, 255, 0.7);
}

main {
    flex-grow: 1;
    padding: 2rem;
    overflow-y: auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 2px solid black;
    margin-bottom: 1rem;
    margin-top: -1.5rem;
}


.header-right {
    display: flex;
    align-items: center;
}

.search-bar {
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 9999px;
    padding: 0.5rem 1rem;
    margin-right: 1rem;
}

.search-bar input {
    border: none;
    outline: none;
    padding: 0.25rem;
    width: 200px;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    margin-left: 0.5rem;
    padding: 0.5rem;
    border-radius: 9999px;
    transition: background-color 0.3s;
}

.icon-button:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.browse-product-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    cursor: pointer;
}

h1 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

.subtitle {
    color: #666;
    margin-bottom: 1.5rem;
}

.stats-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.card {
    background-color: var(--card-background);
    border-radius: 0.5rem;
    padding: 1.5rem;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.stat-value {
    font-size: 2rem;
    font-weight: bold;
    margin: 0.5rem 0;
}

.stat-change {
    font-size: 0.9rem;
}

.positive {
    color: #fc00ac;
}

.negative {
    color: #ef4444;
}

.transaction-list {
    list-style-type: none;
    padding: 0;
    border-radius: 8px;
}

.transaction-list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1rem;
    padding: 0.5rem 0;
}

.transaction-list .header {
    background-color: #f8f9fa;
    font-weight: bold;
    color: #333;
    padding: 0.5rem 0;
}

.transaction-list .product {
    flex: 1;
    display: flex;
    justify-content: center;
}

.transaction-list .name {
    flex: 2;
}

.transaction-list .transaction-id {
    flex: 2;
    text-align: center;
}

.transaction-list .status {
    flex: 1;
    text-align: center;
}

.transaction-list img {
    width: 50px;
    height: 50px;
    object-fit: contain;
}

.category {
    font-size: 0.8rem;
    color: #666;
    display: block;
}

.transaction-id {
    font-size: 0.8rem;
    color: #666;
}

.status {
    padding: 0.25rem 0.5rem;
    border-radius: 9999px;
    font-size: 0.8rem;
    display: inline-block;
}

.completed {
    background-color: #d1fae5;
    color: #065f46;
}

.pending {
    background-color: #fef3c7;
    color: #92400e;
}
.processing {
    background-color: #dbeafe;
    color: #1e40af;
}

.view-more-button, .guide-button, .update-button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 9999px;
    cursor: pointer;
    width: 100%;
    margin-top: 1rem;
}

@media (max-width: 1024px) {
    .stats-grid, .card-container {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        padding: 1rem;
    }

    .stats-grid, .card-container {
        grid-template-columns: 1fr;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        margin-top: 1rem;
        width: 100%;
    }

    .search-bar {
        width: 100%;
        margin-bottom: 1rem;
    }

    .add-product-button {
        width: 100%;
    }

    .level-up-card {
        flex-direction: column;
        text-align: center;
    }

    .level-up-card button {
        margin-top: 1rem;
    }
}

.content section {
    display: none;
}

.content section.active {
    display: block;
}

.analytics-grid, .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1rem;
}

.card, .product-card {
    background-color: #fff;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.card h3, .product-card h3 {
    margin-bottom: 0.5rem;
}

.card ul, .cart-items, .order-list {
    list-style-type: none;
}

.card li, .cart-items li, .order-list li {
    margin-bottom: 0.5rem;
}

.progress-bar {
    background-color: #fc00ac;
    height: 10px;
    border-radius: 5px;
    overflow: hidden;
}

.product-card img {
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: contain;
    margin-bottom: 0.5rem;
}

.product-card button, .checkout-btn {
    background-color: #000000;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s;
}

.product-card button:hover, .checkout-btn:hover {
    background-color: #fc00ac;
}

.original-price {
    text-decoration: line-through;
    color: #777; 
    font-size: 0.9rem;
    margin-right: 10px; 
}

.discounted-price {
    color: #000; 
    font-size: 1.0rem; 
    font-weight: bold;
}

.badge-container {
    position: absolute;
    top: 10px; 
    left: 10px; 
    z-index: 10; 
}

.badge {
    background-color: #ec0000; 
    color: white;
    padding: 2px 5px; 
    font-size: 12px; 
    border-radius: 3px; 
    font-weight: bold;
}

.product-card {
    position: relative;
    background-color: #fff;
    border-radius: 4px;
    padding: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.cart-items li, .order-list li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 4px;
    margin-bottom: 0.5rem;
}

.cart-total {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-top: 1rem;
}

.checkout-btn {
    display: block;
    width: 100%;
    margin-top: 1rem;
}

.full-footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-between;
}

.footer-links {
    display: flex;
    gap: 20px;
}

.footer-links a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer-links a:hover {
    color: rgb(252, 0, 172);
}

.footer-info {
    text-align: center;
}

.bottom-content a:hover {
    background-color: #000000;
    color: #fff;
}

.full-footer {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 20px;
}

.footer-container {
    display: flex;
    justify-content: space-around;
}

.footer-container h3 {
    color: rgb(0, 0, 0);
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer-container a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: block; 
    margin-bottom: 5px;
    font-size: 0.75rem;
}

.footer-container a:hover {
    text-decoration: underline;
}

.social-icons {
    text-align: center; 
    margin-top: 20px; 
}

.social-icons img {
    width: 30px; 
    margin-right: 10px; 
}


.payment-methods {
    text-align: center;
    margin: 20px 0;
}

.payment-icons {
    display: flex;
    justify-content: center;
    gap: 15px;
}

.payment-icons svg {
    width: 40px;
    height: auto;
}

.contact-us h3 {
    font-size: 16px;
    margin-bottom: 5px;
}

.contact-us p {
    font-size: 12px;
    margin: 0;
    line-height: 1.5;
}

.contact-us a {
    color: inherit; 
    text-decoration: underline;
}

.footer-copyright {
    text-align: center;
    margin-top: 20px;
    padding: 10px 0;
    font-size: 14px;
    color: #000;
}

@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
        height: auto;
        position: static;
        padding: 1rem;
    }

    .sidebar-header img {
        width: 150px;
    }

    main {
        padding: 1rem;
    }

    header {
        flex-direction: column;
        align-items: flex-start;
    }

    .header-right {
        width: 100%;
        margin-top: 1rem;
    }

    .search-bar {
        width: 100%;
        margin-bottom: 1rem;
    }

    .icon-button, .add-product-button {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .stats-grid, .card-container {
        grid-template-columns: 1fr;
    }

    .card {
        padding: 1rem;
    }

    .transaction-list li {
        flex-direction: column;
        align-items: flex-start;
    }

    .transaction-list .product,
    .transaction-list .name,
    .transaction-list .transaction-id,
    .transaction-list .status {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .transaction-list img {
        width: 100%;
        height: auto;
        max-width: 100px;
    }

    .footer-container {
        flex-direction: column;
    }

    .footer-container > div {
        margin-bottom: 1rem;
    }

    .payment-icons {
        justify-content: flex-start;
    }

    .social-icons {
        justify-content: center;
    }
}