@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;1,600&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
    margin: 0;
    padding: 0;
    overflow: hidden; /* Prevent scrolling */
    height: 100vh; /* Ensure it takes up the full height */
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; /* Make the container take full viewport height */
    font-family: Arial, sans-serif;
}

.content {
    display: flex;
    flex: 1;
    overflow: hidden; /* Prevent content inside from scrolling */
}

.form-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    max-width: 40%;
}

.title {
    font-size: 1.75rem;
    margin-bottom: 0.5rem;
    text-align: center;
}

.subtitle {
    color: #666;
    margin-bottom: 1rem;
    font-size: 0.9rem;
    line-height: 1.4;
    text-align: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    text-align: start;
    margin-bottom: 1rem; /* Adds space between form groups */
}

label {
    margin-bottom: 0.5rem;
    font-size: 0.9rem;
    color: #333;
}

input[type="email"],
input[type="password"] {
    padding: 0.75rem;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 1rem;
}

.error-message {
    color: #d32f2f;
    font-size: 0.8rem;
    margin-top: 0.25rem;
}

button {
    padding: 0.75rem;
    background-color: #fb229a;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #B30051;
}

button:disabled {
    background-color: #a1a1a1;
    cursor: not-allowed;
}

/* Fix the image in place and make sure it's centered */
.image-container {
    flex: 1;
    display: flex;
    justify-content: center; /* Center the image horizontally */
    align-items: center; /* Center the image vertically */
    background-color: #f0f0f0;
    position: fixed; /* Keep the image fixed in place */
    right: 0;
    top: 0;
    width: 50%; /* Adjust as necessary */
    height: 100%; /* Ensure it takes the full height of the viewport */
}

.right-image {
    max-width: 100%;
    height: auto;
}

/* Make sure content is fully responsive on smaller screens */
@media (max-width: 768px) {
    .content {
        flex-direction: column;
    }

    .form-container {
        max-width: 100%;
        padding: 2rem 1rem;
    }

    .image-container {
        width: 100%; /* Allow image to take full width on small screens */
        height: 50%; /* Adjust the height for small screens */
    }
}
